@model PagedList.IPagedList<IS220.N12.Models.ACCOUNT>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/custom/admin.css" />
<link rel="stylesheet" href="~/Content/custom/adminBackground.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<style>
    .btn.btn-info {
        padding: 6px 12px;
        background-color: #0dcaf0;
    }

    table tr {
        height: 54px;
    }

    .pagination {
        margin-left: 8px;
        margin-bottom: 8px;
    }

        .pagination li a {
            color: rgba(255, 255, 255, 0.8);
            padding: 4px 12px;
            text-decoration: none;
        }

        .pagination li:hover,
        .pagination .active {
            color: white;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.4);
        }
</style>

<div class="card m-3">
    <div class="card-content">
        <div class="row m-0">
            <div class="col col-xl-4 pt-2 pb-2 d-flex flex-column justify-content-around align-items-center text-white">
                <span class="card-box-title">Total Customer</span>
                <span class="card-box-quantity js-customer">5000+</span>
            </div>
            <div class="col col-xl-4 pt-2 pb-2 d-flex flex-column justify-content-around align-items-center text-white">
                <span class="card-box-title">Total Property</span>
                <span class="card-box-quantity js-hotel">234+</span>
            </div>
            <div class="col col-xl-4 pt-2 pb-2 d-flex flex-column justify-content-around align-items-center text-white">
                <span class="card-box-title">Total Reservation</span>
                <span class="card-box-quantity js-reservation">1440+</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-12">
        <!-- Account -->
        <div class="card ms-3 me-3">
            <div class="card-header">Account Details</div>
            <div class="card-content">
                <table class="table mb-2">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Type</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Username
                            </td>
                            <td>
                                @item.GMAIL
                            </td>
                            @if (item.ROLES == 1)
                            {
                                <td>Admin</td>
                            }
                            else if (item.ROLES == 2)
                            {
                                <td>Property</td>
                            }
                            else
                            {
                                <td>Customer</td>
                            }
                        </tr>
                    }
                </table>
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>

        <!-- Customer -->
        <div class="card ms-3 me-3">
            <div class="card-header">Customer Details</div>
            <div class="card-content">
                <table id="table-customer" class="table mb-2">
                    <tr>
                        <th>Customer Name</th>
                        <th>Country</th>
                        <th>Phone</th>
                        <th>Sex</th>
                        <th>Status</th>
                        <th>Avatar</th>
                        <th>Action</th>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Property -->
        <div class="card ms-3 me-3">
            <div class="card-header">Property Details</div>
            <div class="card-content">
                <table id="table-property" class="table mb-2">
                    <tr>
                        <th>Hotel Name</th>
                        <th>Check-in time</th>
                        <th>Check-out time</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Type</th>
                        <th>Avatar</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.nav__content-list li:first-child .nav__content-list-item').addClass('active');

        // Overall
        $.ajax({
            type: "GET",
            url: "/Admin/Overall",
            data: {},
            success: function (data) {
                $('.js-customer').text(data.totalCustomer);
                $('.js-hotel').text(data.totalHotel);
                $('.js-reservation').text(data.totalReservation);
            },
            error: function () {
                alert("Error occured!!")
            }
        });

        // Customer
        $.ajax({
            type: "GET",
            url: "/Admin/ShowCustomer",
            data: {},
            success: function (data) {
                let html = "";
                for (let i = 0; i < data.customers.length; i++) {
                    html += `
                            <tr>
                                <td>${data.customers[i].CustomerName}</td>
                                <td>${data.customers[i].Country}</td>
                                <td>${data.customers[i].Phone}</td>
                            `
                    if (data.customers[i].Sex == 0) {
                        html += `<td>Male</td>`
                    } else {
                        html += `<td>Female</td>`
                    }

                    if (data.customers[i].Status_Account == 0) {
                        html += `
                                <td>Inactive</td>
                                <td>
                                    <img src="${data.customers[i].Image_Customer}" alt="Avatar">
                                </td>
                                <td>
                                    <button class="btn btn-info inactive">Active account</button>
                                </td>
                            </tr>
                                `
                    } else {
                        html += `
                                <td>Active</td>
                                <td>
                                    <img src="${data.customers[i].Image_Customer}" alt="Avatar">
                                </td>
                                <td>
                                    <button class="btn btn-info">Active account</button>
                                </td>
                            </tr>
                            `
                    }
                    $('#table-customer').append(html);
                }

                function activeAccount() {
                    $(document).ready(function () {
                        $(".btn.btn-info:not('.inactive')").prop('disabled', true);

                        $('.inactive').click(function () {
                            $(this).removeClass('.inactive');

                            $(this).parent().parent().find("td").eq(3).text("Active");
                            $(this).attr('disabled', true);
                        })
                    })
                }

                activeAccount();
            },
            error: function () {
                alert("Error occured!!")
            }
        });

        // Property
        $.ajax({
            type: "GET",
            url: "/Admin/ShowProperty",
            data: {},
            success: function (data) {
                let html = "";
                for (let i = 0; i < data.hotels.length; i++) {
                    html += `
                            <tr>
                                <td>${data.hotels[i].HotelName}</td>
                                <td class="text-center">${data.hotels[i].CheckInTime}</td>
                                <td class="text-center">${data.hotels[i].CheckOutTime}</td>
                                <td style="text-align: left;
                                            width: 400px;
                                            max-width: 400px;
                                            height: 54px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            -webkit-line-clamp: 1;">${data.hotels[i].Address_Hotel}</td>
                                <td>${data.hotels[i].Phone_Hotel}</td>
                                <td>${data.hotels[i].TypeName}</td>
                                <td>
                                    <img src="${data.hotels[i].Image_Hotel}" alt="Avatar">
                                </td>
                            </tr>
                            `
                }

                $('#table-property').append(html);
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    })
</script>