@{
    var account = Session["Account"] as IS220.N12.Models.ACCOUNT;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/custom/base.css" />
    <link rel="stylesheet" href="~/Content/custom/Customer_Information.css" />
    <link rel="icon" href="~/Assets/img/favicon.png" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="app">
        <header class="app__header">
            <div class="container">
                <nav class="app__nav">
                    <a href="~/Homepage/Index" class="app__nav-name-link">
                        <img src="../assets/img/logo.png" alt="Logo" class="app__nav-name-icon">
                    </a>

                    <ul class="app__nav-list hide-on-mobile-tablet">
                        <li class="app__nav-item">
                            <a href="~/Homepage/Index" class="app__nav-item-link">Home</a>
                        </li>
                        <li class="app__nav-item">
                            <a href="~/Homepage/Contact" class="app__nav-item-link">Contacts</a>
                        </li>
                        <li class="app__nav-item">
                            <a href="YourAccount" class="app__nav-item-link">@account.Username</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="app__content">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <ul class="app__sidebar-list">
                            <li class="app__sidebar-item">
                                <a href="YourAccount" class="text-decoration-none text-dark">Your Account</a>
                            </li>
                            <li class="app__sidebar-item">
                                <a href="ViewAllBooking" class="text-decoration-none text-dark">View all bookings</a>
                            </li>
                            <li class="app__sidebar-item">
                                <label for="app__inbox-input" style="cursor: pointer;">Inbox</label>
                            </li>
                            <li class="app__sidebar-item">
                                <a href="Review" class="text-decoration-none text-dark">Your Reviews</a>
                            </li>
                            <li>
                                <a href="../ACCOUNT/Edit_Password" class="text-decoration-none text-dark">Edit your password</a>
                            </li>
                            <li class="app__sidebar-item">
                                <button class="btn-sign-out">Sign out</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-9 ps-5 content">
                        @RenderBody()
                    </div>
                </div>

                <input type="checkbox" hidden name="app__inbox-input" id="app__inbox-input">
                <label for="app__inbox-input" class="app__inbox-overlay"></label>
                <div class="app__inbox">
                    <div class="row m-0 h-100 overflow-auto">
                        <div class="col-4" style="border-right: 1px solid #ccc;">
                            <ul class="list-unstyled"></ul>
                        </div>
                        <div class="col-8 app__inbox-message"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.app__sidebar-list .app__sidebar-item:nth-child(3)').click(function () {
                $('.app__sidebar-list .app__sidebar-item').each(function () {
                    $(this).removeClass('app__sidebar-item--active');
                })

                $(this).addClass('app__sidebar-item--active');

                $.ajax({
                    type: "POST",
                    url: "/CUSTOMER/GetInbox",
                    data: {},
                    datatype: "json",
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (data) {
                        let html = "";
                        for (let i = 0; i < data.usernameSends.length; i++) {
                            html +=`<li class="app__inbox-item pb-2">
                                        <h6 class="ps-2 pe-2 pt-1 app__inbox-item-title">${data.usernameSends[i]}</h6>
                                        <span class="ps-2 pe-2 app__inbox-item-content">${data.messages[i]}</span>
                                    </li>`;
                        };

                        $('.list-unstyled').append(html);
                    },
                    error: function () {
                        alert("Error occured!!!");
                    }
                });
            });

            $('.btn-sign-out').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/ACCOUNT/SignOut",
                    data: {},
                    success: function (data) {
                        if (data.msg) {
                            window.location.replace("https://localhost:44306/Homepage/Index");
                        }
                    },
                    error: function () {
                        alert("Error occured!!")
                    }
                });
            });

            $('.app__inbox').on('click', '.app__inbox-item', function () {
                $(this).css('background-color', 'white');

                let html = `
                            <div class="app__inbox-message-header">
                                <p class="px-3 py-2 app__inbox-message-title">${$('.app__inbox-item-title').html()}</p>
                                <button class="me-3 px-3 app__inbox-message-reply">Reply</button>
                            </div>

                            <div class="px-3 py-2 d-flex flex-column justify-content-between" style="height: calc(100vh - 56px);">
                                <p class="app__inbox-message-main">${$('.app__inbox-item-content').html()}</p>

                                <div class="justify-content-between app__inbox-message-send">
                                    <textarea name="app__inbox-message-textarea" id="app__inbox-message-textarea" cols="30" rows="8" placeholder="Enter message"></textarea>
                                    <input type="submit" value="Send" class="app__inbox-message-input px-3">
                                </div>
                            </div>`;

                $('.app__inbox-message').html(html);
            });

            $('.app__inbox').on('click', '.app__inbox-message-reply', function () {
                $('.app__inbox-message-send').css('display', 'flex');
            })
        })
    </script>
</body>
</html>