<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/Homepage.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="app__header">
        <div class="container">
            <nav style="height: 100px;" class="position-relative">
                <a href="Index" class="text-decoration-none">
                    <img src="~/Assets/img/logo.png" alt="Logo" style="height: 100px">
                </a>

                <ul class="list-unstyled position-absolute top-50 end-0 translate-middle-y d-flex" style="font-size: 1.25rem;">
                    <li class="app__nav-item">
                        <a href="#" class="app__nav-item-link">Home</a>
                    </li>
                    <li class="app__nav-item">
                        <a href="#" class="app__nav-item-link">Manage Your Stay</a>
                    </li>
                    <li class="app__nav-item">
                        <a href="#" class="app__nav-item-link">Contacts</a>
                    </li>
                    <li class="app__nav-item">
                        <a href="" class="app__nav-item-link">Sign Up</a>
                    </li>
                </ul>
            </nav>

            <div class="app__title">
                <h1>Dive yourself into Viet soul.</h1>
                <h2>Plan your next trip from now!</h2>
            </div>

            <ul class="list-unstyled d-flex justify-content-around align-items-center app__search-list">
                <li class="app__search-item">
                    <a href="#" class="text-decoration-none p-1">
                        <i class="fa-solid fa-magnifying-glass" style="color: #fff;"></i>
                    </a>
                    <input type="text" name="app__search-input" placeholder="Search destinations, hotels">

                    <div class="position-absolute start-0 d-none overflow-hidden app__search-history">
                        <h3 class="app__search-history-heading">Search history</h3>
                        <ul class="list-unstyled p-0">
                            <li class="app__search-history-item"><a href="#">Ho Chi Minh</a></li>
                            <li class="app__search-history-item"><a href="#">Ha Noi</a></li>
                            <li class="app__search-history-item"><a href="#">Da Nang</a></li>
                        </ul>
                    </div>
                </li>
                <li class="app__search-item">
                    <a href="#" class="text-decoration-none p-1">
                        <i class="fa-solid fa-plane-departure" style="color: #fff;"></i>
                    </a>
                    <div class="app__status-in">Check in</div>
                    <input type="date" id="app__check-in" class="d-none" value="2022-11-11"
                           min="2017-10-14" max="2050-12-31">
                </li>
                <li class="app__search-item">
                    <a href="#" class="text-decoration-none p-1">
                        <i class="fa-solid fa-money-check" style="color: #fff;"></i>
                    </a>
                    <div class="app__status-out">Check out</div>
                    <input type="date" id="app__check-out" class="d-none" value="2022-11-11"
                           min="2017-10-14" max="2050-12-31">
                </li>
                <li class="app__search-item">
                    <a href="#" class="text-decoration-none p-1">
                        <i class="fa-solid fa-people-group" style="color: #fff;"></i>
                    </a>
                    <div class="app__search-quantity">
                        <span class="room-quantity">1</span>
                        room,
                        <span class="people-quantity">2</span>
                        adults
                    </div>

                    <div class="box-quantity position-absolute end-50 translate-middle-x p-3 d-none">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <span>Room</span>
                            <div class="d-flex justify-content-between align-items-center" style="min-width: 100px;">
                                <button class="btn-minus-room">-</button>
                                <span class="amount-room py-0 px-2">1</span>
                                <button class="btn-add-room">+</button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <span>People</span>
                            <div class="d-flex justify-content-between align-items-center" style="min-width: 100px;">
                                <button class="btn-minus-people">-</button>
                                <span class="amount-people py-0 px-2">2</span>
                                <button class="btn-add-people">+</button>
                            </div>
                        </div>
                        <button class="btn-quantity p-2">Xong</button>
                    </div>
                </li>
                <li class="app__search-item">
                    <button class="app__search-btn">
                        Search
                    </button>
                </li>
            </ul>

            <div class="mt-5">
                <h3 class="text-center mb-4" style="color: #fff; font-size: 2em;">
                    Top Categories
                </h3>

                <div class="pt-3 py-5 row">
                    <a href="~/Beach/Index" class="app__category-item col text-decoration-none">
                        <i class="app__category-item-icon fa-sharp fa-solid fa-umbrella-beach"></i>
                        <figcaption>Beaches</figcaption>
                    </a>
                    <a href="~/Mountain/Index" class="app__category-item col text-decoration-none">
                        <i class="app__category-item-icon fa-solid fa-mountain-sun"></i>
                        <figcaption>Mountains</figcaption>
                    </a>
                    <a href="~/IconicCity/Index" class="app__category-item col text-decoration-none">
                        <i class="app__category-item-icon fa-solid fa-city"></i>
                        <figcaption>Iconic Cities</figcaption>
                    </a>
                    <a href="~/Countryside/Index" class="app__category-item col text-decoration-none">
                        <i class="app__category-item-icon fa-solid fa-seedling"></i>
                        <figcaption>Countryside</figcaption>
                    </a>
                    <a href="~/Camping/Index" class="app__category-item col text-decoration-none">
                        <i class="app__category-item-icon fa-solid fa-fire-flame-curved"></i>
                        <figcaption>Camping</figcaption>
                    </a>
                    <a href="~/Tropical/Index" class="app__category-item col text-decoration-none">
                        <i class="app__category-item-icon fa-solid fa-cloud-sun-rain"></i>
                        <figcaption>Tropical</figcaption>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="app__footer">
        <div class="container">
            <div class="text-center pt-5 d-flex flex-column align-items-center">
                <h3 style="font-size: 1.5em; color: #fff;">
                    Enter your e-mail address and get<br> notified of exclusive offers
                </h3>

                <div class="app__footer-contact-input d-flex align-items-center justify-content-between mt-4 mb-5">
                    <div class="app__footer-input">
                        <input type="text" placeholder="Your e-mail address">
                    </div>

                    <div class="app__footer-btn">
                        <button class="app__search-btn px-2 py-2">
                            Get Started
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a href="Index" class="app__nav-name-link">
                        <img src="~/Assets/img/logo.png" alt="Logo" style="height: 100px;">
                    </a>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="app__footer-list-item-link">About us</a>
                        </li>
                        <li>
                            <a href="#" class="app__footer-list-item-link">Newsletter</a>
                        </li>
                        <li>
                            <a href="#" class="app__footer-list-item-link">Careers</a>
                        </li>
                        <li>
                            <a href="#" class="app__footer-list-item-link">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="app__footer-list-item-link">Community</a>
                        </li>
                        <li>
                            <a href="#" class="app__footer-list-item-link">Trivia Community</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="app__footer-list-item-link">Support</a>
                        </li>
                        <li>
                            <a href="#" class="app__footer-list-item-link">Help Centre</a>
                        </li>
                        <li>
                            <a href="#" class="app__footer-list-item-link">Safety Information</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="app__footer-list-item-link">Hedge Karla</a>
                        </li>
                        <li>
                            <a href="#" class="app__footer-list-item-link">Mullein abc</a>
                        </li>
                        <li>
                            <a href="#" class="app__footer-list-item-link">Autumnal Bulgier</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div>
                <ul class="list-unstyled d-flex flex-row-reverse" style="margin-right: 32px;">
                    <li class="app__footer-socials-item">
                        <a href="#" class="text-decoration-none">
                            <i class="app__footer-socials-item-icon fa-brands fa-square-instagram"></i>
                        </a>
                    </li>
                    <li class="app__footer-socials-item">
                        <a href="#" class="text-decoration-none">
                            <i class="app__footer-socials-item-icon fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="app__footer-socials-item">
                        <a href="#" class="text-decoration-none">
                            <i class="app__footer-socials-item-icon fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li class="app__footer-socials-item">
                        <a href="#" class="text-decoration-none">
                            <i class="app__footer-socials-item-icon fa-brands fa-square-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="app__footer-copyright text-center">
                Copyright &copy; 2022 Alien
            </div>
        </div>
    </footer>
</body>
</html>
