@{
    ViewBag.Title = "Trivia";
    Layout = "~/Views/Shared/_PropertyLayout.cshtml";
}

<style>
    .app__content-main {
        margin-top: 16px;
    }

    .app__overview-title,
    .app__analytic-title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .app__overview-content-item {
        font-size: 20px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
    }

        .app__overview-content-item + .app__overview-content-item {
            margin-left: 40px;
        }

        .app__overview-content-item:last-child {
            flex: 1;
        }

    .app__overview div:last-child {
        height: 30px;
    }

    .app__overview-link {
        color: #08536B;
        font-size: 20px;
        font-weight: 600;
    }

    .app__form-filter label {
        font-weight: 600;
    }

    .app__form-filter select,
    .app__form-filter input {
        height: 32px;
        padding-left: 8px;
    }

    .app__form-filter > input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }

    input[type=search]::-webkit-search-cancel-button {
        cursor: pointer;
    }

    .app__form-filter + .app__form-filter {
        margin-left: 16px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="app__content-main">
    <div class="container">
        <div class="app__overview border-bottom">
            <div class="app__overview-title">
                <span>Reservation overview</span>
                <i class="fa-regular fa-calendar-days"></i>
            </div>

            <div class="d-flex mb-3">
                <div class="app__overview-content-item text-center">
                    <p>Total</p>
                    <span>0</span>
                </div>
                <div class="app__overview-content-item text-center">
                    <p>Arrivals</p>
                    <span>0</span>
                </div>
                <div class="app__overview-content-item text-center">
                    <p>Departures</p>
                    <span>0</span>
                </div>
                <div class="app__overview-content-item text-center">
                    <p>Reviews</p>
                    <span>0</span>
                </div>
                <div></div>
            </div>

            <div>
                <a href="./Property_Reservation.html"
                   class="app__overview-link float-end text-decoration-none">View all reservation</a>
            </div>
        </div>

        <div class="app__analytic mt-3">
            <p class="app__analytic-title">Analytics</p>

            <div class="d-flex pb-4">
                <div class="app__form-filter d-flex flex-column">
                    <label for="select-date">Statistics filters</label>
                    <select name="select-date" id="select-date">
                        <option value="date">Date</option>
                        <option value="month">Month</option>
                        <option value="year">Year</option>
                    </select>
                </div>
                <div class="app__form-filter d-flex flex-column">
                    <label for="input-date-arrival">From</label>
                    <input type="date" name="input-date-arrival" id="input-date-arrival">
                </div>
                <div class="app__form-filter d-flex flex-column">
                    <label for="input-date-departure">Until</label>
                    <input type="date" name="input-date-departure" id="input-date-departure">
                </div>
                <div class="align-self-end">
                    <button class="ms-3 btn btn-secondary">Filter</button>
                </div>
            </div>

            <canvas id="analytics" style="width: 100%;max-width: 1200px; max-height: 600px;"></canvas>
        </div>
    </div>
</div>

<script>
    function drawChart() {
        const xDates = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31];
        const xMonths = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];

        const yValues = [0, 10, 40, 50, 100, 60, 70, 80, 20, 30, 90, 12, 20, 55, 78, 24, 30, 30, 30, 60, 65, 58, 90, 92]

        new Chart("analytics", {
            type: "line",
            data: {
                labels: xDates,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0, 0, 0, 1)",
                    borderColor: "rgba(0, 0, 0, 0.2)",
                    data: yValues
                }]
            },
            options: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: "Reservation(s)"
                },
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                min: 0,
                                max: 100
                            }
                        }
                    ],
                }
            }
        });
    }

    drawChart();
</script>