@{
    ViewBag.Title = "Trivia";
    Layout = "~/Views/Shared/_PropertyLayout.cshtml";
}

<style>
    .app__content-main {
        margin-top: 16px;
    }

    .app__overview-title,
    .app__analytic-title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .app__overview-content-item {
        font-size: 20px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
    }

        .app__overview-content-item + .app__overview-content-item {
            margin-left: 40px;
        }

        .app__overview-content-item:last-child {
            flex: 1;
        }

    .app__overview div:last-child {
        height: 30px;
    }

    .app__overview-link {
        color: #08536B;
        font-size: 20px;
        font-weight: 600;
    }

    .app__form-filter label {
        font-weight: 600;
    }

    .app__form-filter select,
    .app__form-filter input {
        height: 32px;
        padding-left: 8px;
    }

    .app__form-filter > input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }

    input[type=search]::-webkit-search-cancel-button {
        cursor: pointer;
    }

    .app__form-filter + .app__form-filter {
        margin-left: 16px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<div class="app__content-main">
    <div class="container">
        <div class="app__overview border-bottom">
            <div class="app__overview-title">
                <span>Reservation overview</span>
                <i class="fa-regular fa-calendar-days"></i>
            </div>

            <div class="d-flex mb-3 overall"></div>

            <div>
                <a href="Manage_Reservation"
                   class="app__overview-link float-end text-decoration-none">View all reservation</a>
            </div>
        </div>

        <div class="app__analytic mt-3">
            <p class="app__analytic-title">Analytics</p>

            <div class="d-flex pb-4">
                <div class="app__form-filter d-flex flex-column">
                    <label for="select-date">Statistics filters</label>
                    <select name="select-date" id="select-date">
                        <option value="day">Day</option>
                        <option value="month">Month</option>
                        <option value="year">Year</option>
                    </select>
                </div>
                <div class="app__form-filter d-flex flex-column">
                    <label for="input-date-arrival">From</label>
                    <input type="date" name="input-date-arrival" id="input-date-arrival">
                </div>
                <div class="app__form-filter d-flex flex-column">
                    <label for="input-date-departure">Until</label>
                    <input type="date" name="input-date-departure" id="input-date-departure">
                </div>
                <div class="align-self-end">
                    <button class="ms-3 btn btn-secondary">Filter</button>
                </div>
            </div>

            <canvas id="analytics" style="width: 100%;max-width: 1200px; max-height: 600px;"></canvas>
        </div>
    </div>
</div>

<script>
    function drawChart(arr1, arr2) {
        const xValues = arr1;
        const yValues = arr2;
        const barColors = [
            "#CCCCCC", "#CCFF99", "#CCCC99", "#CC99FF", "#CC66FF", "#CC33FF",
            "#666666", "#99FF99", "#99CC99", "#9999FF", "#9966FF", "#9933FF",
            "#000000", "#66FF99", "#66CC99", "#6699FF", "#6666FF", "#6633FF",
            "#AA0000", "#33FF99", "#33CC99", "#3399FF", "#3366FF", "#3333FF",
            "#440000", "#00FF99", "#33CC66", "#0099FF", "#0066FF", "#0033FF",
            "#FFFF99", "#FFCC99", "#FF99FF", "#FF66FF", "#FF33FF", "#003300",
            "FF0000"
        ];

        new Chart("analytics", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Reservation(s)"
                },
                scales: {
                    yAxes: [
                        {
                            ticks:
                            {
                                min: 0
                            }
                        }
                    ],
                }
            }
        });
    }

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/Property/HomeProperty",
            data: {},
            datatype: "json",
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                let overall = ` <div class="app__overview-content-item text-center">
                                    <p>Total</p>
                                    <span>${data.total}</span>
                                </div>
                                <div class="app__overview-content-item text-center">
                                    <p>Check in</p>
                                    <span>${data.arrival}</span>
                                </div>
                                <div class="app__overview-content-item text-center">
                                    <p>Check out</p>
                                    <span>${data.departure}</span>
                                </div>
                                <div class="app__overview-content-item text-center">
                                    <p>Reviews</p>
                                    <span>${data.review}</span>
                                </div>
                                <div></div>`;

                $('.overall').append(overall);
            },
            error: function () {
                alert("Error occured!!!");
            }
        });

        $('#input-date-arrival').change(function () {
            $('#input-date-departure').attr('min', $('#input-date-arrival').val());
        });

        $('#input-date-departure').change(function () {
            $('#input-date-arrival').attr('max', $('#input-date-departure').val());
        });

        $('button').click(function () {
            function analytic(analyticName, array) {
                $.ajax({
                    type: "POST",
                    url: `/Property/${analyticName}`,
                    data: {
                        values: array
                    },
                    datatype: "json",
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (data) {
                        drawChart(data.key, data.value);
                    },
                    error: function () {
                        alert("Error occured!!!");
                    }
                });
            };

            let from = $('#input-date-arrival').val();
            let until = $('#input-date-departure').val();

            if (from != "" && until == "") {
                if ($('#select-date').val() == "day") {
                    analytic('DayStart', [from]);
                }
                else if ($('#select-date').val() == "month") {
                    analytic('MonthStart', [from]);
                }
                else {
                    analytic('YearStart', [from]);
                };
            }
            else if (from == "" && until != "") {
                if ($('#select-date').val() == "day") {
                    analytic('DayEnd', [until]);
                }
                else if ($('#select-date').val() == "month") {
                    analytic('MonthEnd', [until]);
                }
                else {
                    analytic('YearEnd', [until]);
                };
            }
            else if (from != "" && until != "") {
                if ($('#select-date').val() == "day") {
                    analytic('DayFull', [from, until]);
                }
                else if ($('#select-date').val() == "month") {
                    analytic('MonthFull', [from, until]);
                }
                else {
                    analytic('YearFull', [from, until]);
                };
            }
        });
    });
</script>