
@{
    ViewBag.Title = "Manage_Review";
    Layout = "~/Views/Shared/_PropertyLayout.cshtml";
}

<style>
    .app__content-nav-last {
        color: black;
        border-bottom: 4px solid #000;
    }

        .app__content-nav-last i {
            color: black;
        }

    .app__content-main {
        background-color: #eff2f7;
        margin-bottom: 16px;
        max-height: 1000px;
        overflow-y: auto;
    }

    .app__content-header-action {
        width: 200px;
        border-radius: 16px;
        background-color: #fff;
    }

    select {
        border: none;
        outline: none;
        cursor: pointer;
        color: orange;
        background-color: transparent;
    }

    .table {
        color: #9da5ac;
    }

        .table th {
            font-size: 12px;
        }

    .table-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .review-info p:last-child {
        color: #91b4dc;
    }

    .table tr th:last-child,
    .table tr td:last-child {
        max-width: 600px;
        text-align: justify;
    }

</style>

<div class="container mt-4">
    <div class="app__content-main">
        <p class="d-flex p-3 justify-content-between align-items-center border-bottom" style="color: #7a808b; font-size: 20px;">Reviews</p>

        <div class="ms-3 me-3 mt-3">
            <table class="table mb-0">
                <tr>
                    <th>NAME</th>
                    <th class="text-center">RATING</th>
                    <th>REVIEW</th>
                </tr>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/Property/GetReview",
            data: {},
            datatype: "json",
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                let html = "";

                for (let i = 0; i < data.images.length; i++) {
                    html += `
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="${data.images[i]}" alt="Avatar" class="table-avatar">
                                        <div class="review-info ms-3">
                                            <p class="h6">${data.names[i]}</p>
                                            <p>${data.gmails[i]}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center h5">${data.points[i]}</td>
                                <td>${data.comments[i]}</td>
                            </tr>`;
                }

                $('.table').append(html);
            },
            error: function () {
                alert("Error occured!!!");
            }
        });
    });
</script>