
@{
    ViewBag.Title = "Rates And Availability";
    Layout = "~/Views/Shared/_PropertyLayout.cshtml";
}

<style>
    .app__content-nav-item:nth-child(2) {
        color: black;
        border-bottom: 4px solid #000;
    }

    .btn-clear {
        border-color: #c1c1c1;
        padding: 4px 8px;
    }

        .btn-clear:hover {
            background-color: #c8c8c8;
        }

    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }

    .table > :not(caption) > * > th {
        color: white;
        background-color: #08536B;
    }

    tr:nth-child(n + 2) {
        border-width: 1px;
    }

    .table-bordered > :not(caption) > * {
        border-width: 1px;
    }

    table td {
        border: 1px solid #c8c8c8;
        padding: 8px;
    }
</style>

<div class="app__content-main">
    <div class="container">
        <div class="mt-5 d-flex justify-content-between">
            <select name="select-room" id="select-room">
                <option value="">Types of room</option>
                <option value="Standard">Standard</option>
                <option value="Supervisor">Supervisor</option>
                <option value="Deluxe">Deluxe</option>
            </select>

            <select name="select-status" id="select-status" class="ms-3">
                <option value="">Room status</option>
                <option value="1">Booked</option>
                <option value="2">Checked out</option>
                <option value="3">Live in</option>
                <option value="4">Canceled</option>
                <option value="5">No show</option>
            </select>

            <button class="ms-3 btn-clear">Filter</button>
            <div style="flex: 1;"></div>
        </div>

        <table class="table mt-5 table-bordered">
            <tr>
                <th>Quantity</th>
                <th>Room types</th>
                <th>Average rates</th>
                <th>Room status</th>
            </tr>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/Property/GetRates",
            data: {},
            datatype: "json",
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                let html = "";

                for (let i = 0; i < data.quantities.length; i++) {
                    html += `
                            <tr>
                                <td>${data.quantities[i]}</td>
                                <td>${data.type[i]}</td>
                                <td>${data.avgPrice[i]} VND</td>
                                <td>`;

                    switch (data.status[i]) {
                        case 1: {
                            html += `Booked`;
                            break;
                        }
                        case 2: {
                            html += `Checked out`;
                            break;
                        }
                        case 3: {
                            html += `Live in`;
                            break;
                        }
                        case 4: {
                            html += `Cancelled`;
                            break;
                        }
                        case 5: {
                            html += `No show`;
                            break;
                        }
                    }

                    html += `</td>
                    </tr>`;
                }

                $('.table').append(html);
            },
            error: function () {
                alert("Error occured!!!");
            }
        });

        $('.btn-clear').click(function () {
            let typeRoom = $('#select-room').find(':selected').val();
            let status = $('#select-status').find(':selected').val();

            $.ajax({
                type: "POST",
                url: "/Property/GetRatesFilter",
                data: {
                    values: [typeRoom, status]
                },
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    let html = `<tr>
                                    <th class="p-2" style="color: white;background-color: #08536B">Quantity</th>
                                    <th class="p-2" style="color: white;background-color: #08536B">Room types</th>
                                    <th class="p-2" style="color: white;background-color: #08536B">Average rates</th>
                                    <th class="p-2" style="color: white;background-color: #08536B">Room status</th>
                                </tr>`;
                    
                    for (let i = 0; i < data.quantities.length; i++) {
                        html += `<tr>
                                    <td>${data.quantities[i]}</td>
                                    <td>${data.type[i]}</td>
                                    <td>${data.avgPrice[i]} VND</td>`;

                        switch (data.status[i]) {
                            case 1: {
                                html += `<td>Booked</td>`;
                                break;
                            }
                            case 2: {
                                html += `<td>Checked out</td>`;
                                break;
                            }
                            case 3: {
                                html += `<td>Live in</td>`;
                                break;
                            }
                            case 4: {
                                html += `<td>Cancelled</td>`;
                                break;
                            }
                            case 5: {
                                html += `<td>No show</td>`;
                                break;
                            }
                        }

                        html += `</tr>`;
                    }

                    console.log(html)
                    $('.table').html(html);
                },
                error: function () {
                    alert("Error occured!!!");
                }
            });
        });
    })
</script>