@model IS220.N12.Models.ACCOUNT

@{
    ViewBag.Title = "Sign In";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/Homepage.css" />
    <link rel="stylesheet" href="~/Content/custom/sign_in.css" />
    <link rel="stylesheet" href="~/Content/custom/base.css" />
    <title>Sign In</title>
</head>
<body>
    <div class="bg-image" style="background-image: url('./../Assets/img/Background/Sign_In.png');">
        <header class="app__header">
            <div class="container">
                <nav style="height: 100px;" class="position-relative">
                    <a href="~/Homepage/Index" class="text-decoration-none">
                        <img src="~/Assets/img/logo.png" alt="Logo" style="height: 100px">
                    </a>
                    <ul class="list-unstyled position-absolute top-50 end-0 translate-middle-y d-flex" style="font-size: 1.25rem;">
                        <li class="app__nav-item">
                            <a href="~/Homepage/Index" class="app__nav-item-link">Home</a>
                        </li>
                        <li class="app__nav-item">
                            <a href="#" class="app__nav-item-link">Contacts</a>
                        </li>
                        <li class="app__nav-item">
                            <a href="~/ACCOUNT/signUpCustomer" class="app__nav-item-link">Sign Up</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container d-flex justify-content-around">
            <div class="col-sm-6 align-self-center text-center">
                <h3 class="text-white login_title">VIETNAM</h3>
                <div class="text-white login__plan-text">
                    <span class="text-white">
                        Discover the most of Vietnam with
                        <a href="#" class="register__plan-link">
                            <img src="../../assets/img/logo.png" alt="Trivia" class="login__plan-img">
                        </a>
                    </span>
                </div>
                <a href="~/Homepage/Index" class="plan-btn text-white">
                    PLAN YOUR TRIP NOW &rarr;
                </a>
            </div>
            <div class="col-sm-6 align-self-center" style="margin-top: 20px">
                <form action="" method="post" class="form" id="form" style="width: 350px;">
                    <h3 class="text-white form-title">
                        Sign Into <br /> Your Account
                    </h3>
                    <div class="form-group">
                        <input id="username" name="username" type="text" placeholder="Username" class="form-control">
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <input id="password" name="password" type="password" placeholder="Password" class="form-control">
                        <span class="form-message"></span>
                    </div>
                    <div class="remember">
                        <input type="checkbox" name="form-remember" id="form-remember" class="input-control">
                        <label for="form-remember" class="form-remember-text">Remember Me</label>
                    </div>
                    <input type="submit" class="form-btn" value="Sign in">
                    <button class="login__google">
                        <img src="../assets/img/google_icon.png" alt="Google" class="login__google-img">
                        <span>Sign in with Google</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script src="~/Assets/js/validator.js"></script>
    <script>
        Validator({
            form: '#form',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#username'),
                Validator.isRequired('#password'),
                Validator.minLength('#password', 6),
            ],
        });
    </script>
</body>
</html>