@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

@*Inspiration*@
<link rel="stylesheet" href="~/Content/custom/sign_up.css" />
<style>
    body {
        background: url(../../assets/img/Background/Property_sign_in.png);
    }

    .row {
        display: flex;
        justify-content: center;
        align-content: center;
        min-height: 80vh;
    }

    .form {
        padding: 40px;
    }

    .form-group.invalid .form-control {
        border-color: #ba001e;
    }

    .form-group.invalid .form-message {
        color: #ba001e;
    }
</style>

<div class="register_main-content">
    <form action="" method="post" class="form" id="form" style="width: 450px;">
        <h3 class="form-title">
            Create Your
            <br />
            Property Account
        </h3>
        <span class="mb-3 text-white">Create an account to manage your property.</span>

        <div class="form-group">
            <input id="username" name="username" type="text" placeholder="Username" class="form-control">
            <span class="form-message"></span>
        </div>

        <div class="form-group">
            <input id="email" name="email" type="email" placeholder="Email Address" class="form-control">
            <span class="form-message"></span>
        </div>

        <div class="form-group">
            <input id="password" name="password" type="password" placeholder="Password" class="form-control">
            <span class="form-message"></span>
        </div>

        <div class="form-group">
            <input id="confirm-password" name="confirm-password" type="password" placeholder="Confirm Password" class="form-control">
            <span class="form-message"></span>
        </div>

        <input type="submit" class="form-btn mt-3" value="Create Account">
    </form>
</div>

<script src="~/Assets/js/validator.js"></script>
<script>
    Validator({
        form: '#form',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#full-name'),
            Validator.minLength('#password', 6),
            Validator.isEmail('#email'),
            Validator.isRequired('#confirm-password'),
            Validator.isConfirmed('#confirm-password')
        ],
    });
</script>

<script>
    $(document).ready(function () {
        $('.form-btn').click(function (e) {
            e.preventDefault();

            var ACCOUNT = [$('#username').val(), $('#email').val(), $('#password').val(), 2];

            $.ajax({
                type: "POST",
                url: "/ACCOUNT/signUpProperty",
                data: JSON.stringify(ACCOUNT),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.isSuccess) {
                        alert('Successfull sign up!!!')
                        $('#username').val("");
                        $('#email').val("");
                        $('#password').val("");
                        $('#confirm-password').val("");
                    }
                },
                error: function () {
                    alert("Error occured!!")
                }
            });
        })
    })
</script>