@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

@*Inspiration*@
<link rel="stylesheet" href="~/Content/custom/sign_up.css" />

<style>
    body {
        background: url(../../assets/img/Background/Sign_Up_page_for_customers.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="container d-flex justify-content-around">
    <div class="col align-self-center register__plan">
        <h3 class="register__plan-title">VIETNAM</h3>

        <div class="register__plan-desc">
            <span class="register__plan-text">
                Discover the most of Vietnam with
                <a href="./Homepage/Index" class="register__plan-link">
                    <img src="../../assets/img/logo.png" alt="Trivia" class="register__plan-img">
                </a>
            </span>
        </div>

        <a href="./Homepage/Index" class="plan-btn">
            PLAN YOUR TRIP NOW &rarr;
        </a>
    </div>

    <div class="col">
        <form action="" method="post" class="form" id="form" style="width: 450px;">
            <h3 class="form-title">
                Create An Account
            </h3>

            <div class="form-group">
                <input id="username" name="username" type="text" placeholder="Username" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <input id="email" name="email" type="email" placeholder="Email Address" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <input id="password" name="password" type="password" placeholder="Password" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <input id="confirm-password" name="confirm-password" type="password" placeholder="Confirm Password" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="register__agree">
                <input type="checkbox" name="register__agree-checkbox" id="register__agree-checkbox" class="register__form-control">
                <label for="register__agree-checkbox" class="register__agree-text">
                    By clicking Create account, I agree that I have read and accepted the
                    <a href="#" class="register__agree-link">Terms of use</a>
                    and
                    <a href="#" class="register__agree-link">Privacy Policy</a>
                </label>
            </div>

            <button class="form-btn">
                create account
            </button>

            <span class="register__or">
                -or-
            </span>

            <button class="register__google d-flex align-items-center">
                <img src="../../assets/img/google_icon.png" alt="Google" class="register__google-img">
                <span>Sign up with Google</span>
            </button>

            <span class="register__already">
                Already have an account?
                <a href="signIn" class="register__already-link">Sign in</a>
            </span>
        </form>

        <div class="register__main-property" style="width: 450px;">
            <a href="signUpProperty" class="register__property-link">
                <b>Sign up</b>
            </a> for Properties
        </div>
    </div>
</div>

<script src="~/Assets/js/validator.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
    Validator({
        form: '#form',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#username'),
            Validator.minLength('#password', 6),
            Validator.isEmail('#email'),
            Validator.isRequired('#confirm-password'),
            Validator.isConfirmed('#confirm-password'),
        ],
    });
</script>

<script>
    $(document).ready(function () {
        $('.form-btn').click(function (e) {
            e.preventDefault();

            var ACCOUNT = [$('#username').val(), $('#email').val(), $('#password').val(), 3];

            $.ajax({
                type: "POST",
                url: "/ACCOUNT/signUpCustomer",
                data: JSON.stringify(ACCOUNT),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log(data.msg);
                    $('#username').val("");
                    $('#email').val("");
                    $('#password').val("");
                    $('#confirm-password').val("");
                },
                error: function () {
                    alert("Error occured!!")
                }
            });
        })
    })
</script>