
@{
    ViewBag.Title = "Iconic City";
    Layout = "~/Views/Shared/_Homepage.cshtml";
}

@*Inspiration*@
<link rel="stylesheet" href="~/Content/custom/inspiration.css" />

@*Content*@
<link rel="stylesheet" href="~/Content/custom/category.css" />

<style>
    .app__header {
        background-image: url("./../Assets/img/category/iconic_city/image_1.png");
    }

    .app__footer {
        background-image: url("./../Assets/img/category/iconic_city/Frame_100.png");
    }

    .app__category-item:nth-child(3) {
        color: white;
    }
</style>

<div class="container">
    <div class="mt-5">
        <h3 class="text-center mb-4" style="font-size: 2em;">
            Popular Iconic City Destinations
        </h3>

        <div class="row">
            <div class="col">
                <a href="#" class="home-location-item d-block position-relative text-decoration-none bg-light">
                    <img src="~/Assets/img/category/iconic_city/city_1.jpg" alt="" class="home-location-item__img w-100">
                    <i class="home-location-item__favourite fa-regular fa-heart"></i>
                    <i class="home-location-item__favourite--active fa-solid fa-heart"></i>
                    <span class="home-location-item__title d-flex justify-content-between">
                        <span style="font-weight: 600;">Mauritius</span>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            4.7
                        </span>
                    </span>
                    <span class="home-location-item__desc d-block mb-1">3Days 4 Nights</span>
                    <div class="home-location-item__schedule d-flex justify-content-between text-center">
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-plane-up"></i>
                            <figcaption>2 Flights</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-hotel"></i>
                            <figcaption>1 Hotel</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-car-side"></i>
                            <figcaption>2 Transfers</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-person-walking"></i>
                            <figcaption>4 Activities</figcaption>
                        </span>
                    </div>
                    <div class="home-location-item__detail">
                        <ul>
                            <li>Tour combo with return airport transfer</li>
                            <li>Curious Corner</li>
                        </ul>
                    </div>
                    <div class="home-location-item__price">
                        <span class="home-location-item__price-old">₹88,952</span>
                        <span class="home-location-item__price-current">₹88,952</span>
                        <span>Per person</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#" class="home-location-item d-block position-relative text-decoration-none bg-light">
                    <img src="~/Assets/img/category/iconic_city/city_2.jpg" alt="" class="home-location-item__img w-100">
                    <i class="home-location-item__favourite fa-regular fa-heart"></i>
                    <i class="home-location-item__favourite--active fa-solid fa-heart"></i>
                    <span class="home-location-item__title d-flex justify-content-between">
                        <span style="font-weight: 600;">Havelock</span>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            4.9
                        </span>
                    </span>
                    <span class="home-location-item__desc d-block mb-1">3Days 4 Nights</span>
                    <div class="home-location-item__schedule d-flex justify-content-between text-center">
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-plane-up"></i>
                            <figcaption>2 Flights</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-hotel"></i>
                            <figcaption>1 Hotel</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-car-side"></i>
                            <figcaption>2 Transfers</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-person-walking"></i>
                            <figcaption>4 Activities</figcaption>
                        </span>
                    </div>
                    <div class="home-location-item__detail">
                        <ul>
                            <li>Tour combo with return airport transfer</li>
                            <li>City Tour, Curious Corner}</li>
                            <li>Curious Corner</li>
                        </ul>
                    </div>
                    <div class="home-location-item__price">
                        <span class="home-location-item__price-old">₹88,952</span>
                        <span class="home-location-item__price-current">₹88,952</span>
                        <span>Per person</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#" class="home-location-item d-block position-relative text-decoration-none bg-light">
                    <img src="~/Assets/img/category/iconic_city/city_3.jpg" alt="" class="home-location-item__img w-100">
                    <i class="home-location-item__favourite fa-regular fa-heart"></i>
                    <i class="home-location-item__favourite--active fa-solid fa-heart"></i>
                    <span class="home-location-item__title d-flex justify-content-between">
                        <span style="font-weight: 600;">Whitsunday Islands</span>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            4.5
                        </span>
                    </span>
                    <span class="home-location-item__desc d-block mb-1">3Days 4 Nights</span>
                    <div class="home-location-item__schedule d-flex justify-content-between text-center">
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-plane-up"></i>
                            <figcaption>2 Flights</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-hotel"></i>
                            <figcaption>1 Hotel</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-car-side"></i>
                            <figcaption>2 Transfers</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-person-walking"></i>
                            <figcaption>4 Activities</figcaption>
                        </span>
                    </div>
                    <div class="home-location-item__detail">
                        <ul>
                            <li>Tour combo with return airport transfer</li>
                            <li>City Tour, Curious Corner}</li>
                            <li>Curious Corner</li>
                        </ul>
                    </div>
                    <div class="home-location-item__price">
                        <span class="home-location-item__price-old">₹88,952</span>
                        <span class="home-location-item__price-current">₹88,952</span>
                        <span>Per person</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#" class="home-location-item d-block position-relative text-decoration-none bg-light">
                    <img src="~/Assets/img/category/iconic_city/city_4.png" alt="" class="home-location-item__img w-100">
                    <i class="home-location-item__favourite fa-regular fa-heart"></i>
                    <i class="home-location-item__favourite--active fa-solid fa-heart"></i>
                    <span class="home-location-item__title d-flex justify-content-between">
                        <span style="font-weight: 600;">Mauritius</span>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            4.7
                        </span>
                    </span>
                    <span class="home-location-item__desc d-block mb-1">3Days 4 Nights</span>
                    <div class="home-location-item__schedule d-flex justify-content-between text-center">
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-plane-up"></i>
                            <figcaption>2 Flights</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-hotel"></i>
                            <figcaption>1 Hotel</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-car-side"></i>
                            <figcaption>2 Transfers</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-person-walking"></i>
                            <figcaption>4 Activities</figcaption>
                        </span>
                    </div>
                    <div class="home-location-item__detail">
                        <ul>
                            <li>Tour combo with return airport transfer</li>
                            <li>City Tour, Curious Corner}</li>
                            <li>Curious Corner</li>
                        </ul>
                    </div>
                    <div class="home-location-item__price">
                        <span class="home-location-item__price-old">₹88,952</span>
                        <span class="home-location-item__price-current">₹88,952</span>
                        <span>Per person</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h3 class="text-center mb-4" style="font-size: 2em;">
            All Inclusive Packages!
        </h3>

        <div class="row">
            <div class="col">
                <a href="#" class="home-location-item d-block position-relative text-decoration-none bg-light">
                    <img src="~/Assets/img/category/iconic_city/city_5.jpg" alt="" class="home-location-item__img w-100">
                    <i class="home-location-item__favourite fa-regular fa-heart"></i>
                    <i class="home-location-item__favourite--active fa-solid fa-heart"></i>
                    <span class="home-location-item__title d-flex justify-content-between">
                        <span style="font-weight: 600;">Havelock</span>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            4.9
                        </span>
                    </span>
                    <span class="home-location-item__desc d-block mb-1">3Days 4 Nights</span>
                    <div class="home-location-item__schedule d-flex justify-content-between text-center">
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-plane-up"></i>
                            <figcaption>2 Flights</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-hotel"></i>
                            <figcaption>1 Hotel</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-car-side"></i>
                            <figcaption>2 Transfers</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-person-walking"></i>
                            <figcaption>4 Activities</figcaption>
                        </span>
                    </div>
                    <div class="home-location-item__detail">
                        <ul>
                            <li>Tour combo with return airport transfer</li>
                            <li>City Tour, Curious Corner}</li>
                            <li>Curious Corner</li>
                        </ul>
                    </div>
                    <div class="home-location-item__price">
                        <span class="home-location-item__price-old">₹88,952</span>
                        <span class="home-location-item__price-current">₹88,952</span>
                        <span>Per person</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#" class="home-location-item d-block position-relative text-decoration-none bg-light">
                    <img src="~/Assets/img/category/iconic_city/city_6.png" alt="" class="home-location-item__img w-100">
                    <i class="home-location-item__favourite fa-regular fa-heart"></i>
                    <i class="home-location-item__favourite--active fa-solid fa-heart"></i>
                    <span class="home-location-item__title d-flex justify-content-between">
                        <span style="font-weight: 600;">Whitsunday Islands</span>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            4.5
                        </span>
                    </span>
                    <span class="home-location-item__desc d-block mb-1">3Days 4 Nights</span>
                    <div class="home-location-item__schedule d-flex justify-content-between text-center">
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-plane-up"></i>
                            <figcaption>2 Flights</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-hotel"></i>
                            <figcaption>1 Hotel</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-car-side"></i>
                            <figcaption>2 Transfers</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-person-walking"></i>
                            <figcaption>4 Activities</figcaption>
                        </span>
                    </div>
                    <div class="home-location-item__detail">
                        <ul>
                            <li>Tour combo with return airport transfer</li>
                            <li>City Tour, Curious Corner}</li>
                            <li>Curious Corner</li>
                        </ul>
                    </div>
                    <div class="home-location-item__price">
                        <span class="home-location-item__price-old">₹88,952</span>
                        <span class="home-location-item__price-current">₹88,952</span>
                        <span>Per person</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#" class="home-location-item d-block position-relative text-decoration-none bg-light">
                    <img src="~/Assets/img/category/iconic_city/city_7.jpg" alt="" class="home-location-item__img w-100">
                    <i class="home-location-item__favourite fa-regular fa-heart"></i>
                    <i class="home-location-item__favourite--active fa-solid fa-heart"></i>
                    <span class="home-location-item__title d-flex justify-content-between">
                        <span style="font-weight: 600;">Maldives</span>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            4.9
                        </span>
                    </span>
                    <span class="home-location-item__desc d-block mb-1">3Days 4 Nights</span>
                    <div class="home-location-item__schedule d-flex justify-content-between text-center">
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-plane-up"></i>
                            <figcaption>2 Flights</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-hotel"></i>
                            <figcaption>1 Hotel</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-car-side"></i>
                            <figcaption>2 Transfers</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-person-walking"></i>
                            <figcaption>4 Activities</figcaption>
                        </span>
                    </div>
                    <div class="home-location-item__detail">
                        <ul>
                            <li>Tour combo with return airport transfer</li>
                            <li>City Tour, Curious Corner}</li>
                            <li>Curious Corner</li>
                        </ul>
                    </div>
                    <div class="home-location-item__price">
                        <span class="home-location-item__price-old">₹88,952</span>
                        <span class="home-location-item__price-current">₹88,952</span>
                        <span>Per person</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#" class="home-location-item d-block position-relative text-decoration-none bg-light">
                    <img src="~/Assets/img/category/iconic_city/city_8.jpg" alt="" class="home-location-item__img w-100">
                    <i class="home-location-item__favourite fa-regular fa-heart"></i>
                    <i class="home-location-item__favourite--active fa-solid fa-heart"></i>
                    <span class="home-location-item__title d-flex justify-content-between">
                        <span style="font-weight: 600;">Whitsunday Islands</span>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            4.5
                        </span>
                    </span>
                    <span class="home-location-item__desc d-block mb-1">3Days 4 Nights</span>
                    <div class="home-location-item__schedule d-flex justify-content-between text-center">
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-plane-up"></i>
                            <figcaption>2 Flights</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-hotel"></i>
                            <figcaption>1 Hotel</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-car-side"></i>
                            <figcaption>2 Transfers</figcaption>
                        </span>
                        <span class="schedule__item">
                            <i class="schedule__item-icon fa-solid fa-person-walking"></i>
                            <figcaption>4 Activities</figcaption>
                        </span>
                    </div>
                    <div class="home-location-item__detail">
                        <ul>
                            <li>Tour combo with return airport transfer</li>
                            <li>City Tour, Curious Corner}</li>
                            <li>Curious Corner</li>
                        </ul>
                    </div>
                    <div class="home-location-item__price">
                        <span class="home-location-item__price-old">₹88,952</span>
                        <span class="home-location-item__price-current">₹88,952</span>
                        <span>Per person</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 80px;">
        <h3 class="text-center mt-5 mb-4" style="font-size: 2em; color: #000;">Get inspiration for your next trip</h3>

        <div class="row">
            <div class="col" style="height: 646px;">
                <a href="#" class="app__inspiration-item">
                    <img src="~/Assets/img/Homepage/india.jpg" alt="Inspiration"
                         class="app__inspiration-item__img" style="height: 556px;">

                    <div class="app__inspiration-item-info">
                        <span class="app__inspiration-item-title">India</span>
                        <span class="app__inspiration-item-desc">Travel community</span>
                        <span class="app__inspiration-item-view">155,073 travelers</span>
                    </div>
                </a>
            </div>

            <div class="col" style="height: 646px;">
                <a href="#" class="app__inspiration-item">
                    <img src="~/Assets/img/Homepage/mountain.jpg" alt="Inspiration"
                         class="app__inspiration-item__img" style="height: 250px;">

                    <div class="app__inspiration-item-info">
                        <span class="app__inspiration-item-title">Mountains</span>
                        <span class="app__inspiration-item-desc">Travel community</span>
                        <span class="app__inspiration-item-view">155,073 travelers</span>
                    </div>
                </a>
                <div class="row mt-3">
                    <div class="col">
                        <a href="#" class="app__inspiration-item">
                            <img src="~/Assets/img/Homepage/beach_1.jpg" alt="Inspiration"
                                 class="app__inspiration-item__img" style="width: 100%; height: 200px;">

                            <div class="app__inspiration-item-info">
                                <span class="app__inspiration-item-title">Beach</span>
                                <span class="app__inspiration-item-desc">Travel community</span>
                                <span class="app__inspiration-item-view">155,073 travelers</span>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="app__inspiration-item">
                            <img src="~/Assets/img/Homepage/beach_2.jpg" alt="Inspiration"
                                 class="app__inspiration-item__img" style="width: 100%; height: 200px;">

                            <div class="app__inspiration-item-info">
                                <span class="app__inspiration-item-title">India</span>
                                <span class="app__inspiration-item-desc">Travel community</span>
                                <span class="app__inspiration-item-view">155,073 travelers</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
