
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="mt-5 app__content" style="max-width: 1200px;margin: 0 auto;">
    <h5>Trivia Blog</h5>

    <h2 class="mt-4">Camping by Central Highlands lake Ta Dung</h2>

    <p>
        Ta Dung Lake in Vietnam's Central Highlands offers mesmerizing camping given its charming emerald hue,
        dotted with forest-green islands.
    </p>
    <img src="../assets/img/inspiration/image_11.png" alt="">

    <p>
        Ta Dung Lake is situated in Ta Dung National Park of Dak P’lao and Dak Som communes in Dak G’long District.
        With a 20,000 ha water surface and more than 36 islands, the lake and its surrounding park serves as the natural
        habitat of many species of birds.
    </p>
    <p>
        Given its islands, the lake is called "a miniature Ha Long Bay in Central Highlands". Ha Long Bay is a UNESCO heritage
        site in the northern province of Quang Ninh.
    </p>
    <p>
        Ta Dung Lake is part of the UNESCO-recognized Dak Nong geopark. The 4,760 sq.km geopark is located in the districts
        of Krong No, Cu Jut, Dak Mil, Dak Song, and Dak G'long along the Krong No River.
    </p>

    <img src="../assets/img/inspiration/image_12.png" alt="">

    <p>A quiet sunset before their dinner.</p>

    <img src="../assets/img/inspiration/image_13.png" alt="">

    <p>Strung up lights help create a cozy outdoor atmosphere.</p>
</div>