
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="mt-5 app__content" style="max-width: 1200px;margin: 0 auto;">
    <h5>Trivia Blog</h5>

    <h2 class="mt-4">Paragliding over million-year-old dormant volcano in Central Highlands</h2>

    <p>
        Visitors have flocked to Gia Lai Province in the Central Highlands to paraglide over Chu Dang Ya volcano,
        active millions of years ago.
    </p>
    <img src="../assets/img/inspiration/image_7.png" alt="">

    <p>
        During an annual flower festival from Nov. 11-17, authorities in Gia Lai have introduced paragliding trips
        around Chu Dang Ya volcano in Chu Pan District.
    </p>
    <img src="../assets/img/inspiration/image_8.png" alt="">

    <p>
        Athletes from four paragliding clubs in Da Nang, Ho Chi Minh City, Hanoi and Nha Trang brought to Chu Dang Ya
        45 parachutes, including doubles and singles.
    </p>
    <img src="../assets/img/inspiration/image_9.png" alt="">

    <p>Visitors camp overnight at a tea hill, around two kilometers from the volcano.</p>
    <img src="../assets/img/inspiration/image_10.png" alt="">

    <p>
        In the J’rai ethnic minority language, Chu Dang Ya means "wild ginger root." It lies in Ploi Lagri Village in Gia Lai's
        Chu Pah District, home to the Jarai ethnic minority.
        The Chu Dang Ya volcano has been dormant for millions of years, offering fertile land for cultivation.
        The volcano, 30 kilometers northeast of the province's capital town Pleiku and 20 kilometers from Bien Ho (Sea Lake),
        is a popular tourist destination.
    </p>
</div>