
@{
    Layout = null;
    var account = Session["Account"] as IS220.N12.Models.ACCOUNT;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/custom/base.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/font-awesome/css/all.min.css" />
    <title>Contact</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .app__header {
            position: relative;
            display: block;
            margin-bottom: 668px;
        }

        .app__nav {
            background-color: transparent;
            z-index: 1;
        }

        .app__nav-item-link {
            color: var(--text-color);
        }

            .app__nav-item:nth-child(3) .app__nav-item-link,
            .app__nav-item-link:hover {
                color: var(--black-color);
            }

        .app__header-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 713px;
            background-color: #243a4d;
            display: flex;
        }

        .app__contact {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .app__contact-box {
            width: 50%;
            position: relative;
            color: var(--white-color);
        }

        .box-info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .app__contact-title {
            font-size: 60px;
            font-weight: 600;
            letter-spacing: 8px;
        }

        .app__contact-list {
            list-style: none;
        }

        .app__contact-item {
            padding: 4px 0;
            font-size: 20px;
        }

        .app__contact-item-icon {
            padding: 0 8px 0 0;
        }

        .app__contact-item-link {
            text-decoration: none;
            color: var(--white-color);
        }

        .app__content-title {
            font-size: 52px;
            font-weight: 600;
            text-align: center;
            margin: 40px auto;
            text-transform: uppercase;
            position: relative;
        }

            .app__content-title::after {
                content: '';
                position: absolute;
                top: -20px;
                right: 236px;
                display: block;
                width: 216px;
                height: 60px;
                background: url(../assets/img/others/arrow.png) no-repeat;
                background-size: cover;
            }

        .app__content-form label {
            font-size: 20px;
            font-weight: 600;
            display: block;
        }

        .app__content-form span {
            font-size: 20px;
            color: red;
        }

        .app__content-form select,
        .app__content-form input:enabled:not([type="submit"]) {
            width: 100%;
            font-size: 16px;
            padding: 8px 12px;
            margin: 4px 0 12px;
        }

        #box-msg {
            width: 100%;
            margin-top: 4px;
            font-size: 16px;
            padding: 8px 12px;
        }

        .btn-send {
            width: 100%;
            text-align: center;
        }

        .app__content-form input[type="submit"] {
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 20px;
            font-weight: 600;
            padding: 12px 32px;
            border-radius: 4px;
            margin: 12px auto 40px;
            background-color: #F5C300;
        }

            .app__content-form input[type="submit"]:hover {
                background-color: #FAE1BD;
            }

        .app__footer {
            background: url(../../assets/img/background/Frame_100.png) top center no-repeat;
            background-size: cover;
        }

        .app__footer-list {
            list-style: none;
        }

        .app__footer-list-item-link {
            text-decoration: none;
            color: var(--white-color);
            line-height: 2;
        }

            .app__footer-list-item-link:hover {
                color: rgb(46, 179, 189);
            }

        .app__footer-socials-list {
            list-style: none;
            display: flex;
            flex-direction: row-reverse;
            margin-right: 32px;
        }

        .app__footer-socials-item {
            font-size: 24px;
            padding: 12px;
            cursor: pointer;
            transition: all 0.2s linear;
        }

            .app__footer-socials-item:hover .app__footer-socials-item-icon {
                color: var(--white-color);
                transform: scale(1.1);
            }

        .app__footer-socials-item-link {
            text-decoration: none;
        }

        .app__footer-socials-item-icon {
            color: var(--search-color);
        }

        .app__footer-copyright {
            text-align: center;
            font-size: 16px;
            color: var(--search-color);
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>
<body>
    <header class="app__header">
        <div class="container">
            <nav class="app__nav">
                <a href="Index" class="app__nav-name-link">
                    <img src="../assets/img/logo.png" alt="Logo" class="app__nav-name-icon">
                </a>

                <ul class="app__nav-list hide-on-mobile-tablet">
                    <li class="app__nav-item">
                        <a href="Index" class="app__nav-item-link">Home</a>
                    </li>

                    <li class="app__nav-item">
                        <a href="Contact" class="app__nav-item-link">Contacts</a>
                    </li>
                    <li class="app__nav-item">
                        @if (account != null)
                        {
                            <a href="~/CUSTOMER/YourAccount" class="app__nav-item-link">@account.Username</a>
                        }
                        else
                        {
                            <a href="~/ACCOUNT/SignUpCustomer" class="app__nav-item-link">Sign Up</a>
                        }
                    </li>
                </ul>
            </nav>
        </div>

        <div class="app__header-content">
            <div class="app__contact">
                <div class="app__contact-box">
                    <div class="box-info">
                        <span class="app__contact-title">Alien</span>
                        <ul class="app__contact-list">
                            <li class="app__contact-item">
                                <i class="app__contact-item-icon fa-solid fa-location-dot"></i>
                                <span>
                                    Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam
                                </span>
                            </li>
                            <li class="app__contact-item">
                                <i class="app__contact-item-icon fa-solid fa-phone"></i>
                                <a href="tel:+84 348630164" class="app__contact-item-link">
                                    0348630164
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2312403776427!2d106.80086541458994!3d10.870008892258094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527587e9ad5bf%3A0xafa66f9c8be3c91!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiAtIMSQSFFHIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1669743923640!5m2!1svi!2s"
                            width="760" height="713" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <p class="app__content-title">
            Have a questions ?
        </p>

        <div class="app__content-form">
            <form action="">
                <div class="row">
                    <div class="col l-6">
                        <label for="">TOPIC</label>
                        <select name="topic" id="form__topic" required>
                            <option value="">Select topic</option>
                            <option value="contact">Contact</option>
                            <option value="complain">Complain</option>
                            <option value="others">Others</option>
                        </select>
                    </div>
                    <div class="col l-6">
                        <label for="">Topic Name<span>*</span></label>
                        <input type="text" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col l-6">
                        <label for="">Full Name<span>*</span></label>
                        <input type="text" required>
                    </div>
                    <div class="col l-6">
                        <label for="">Email<span>*</span></label>
                        <input type="email" required>
                    </div>
                </div>

                <div>
                    <label for="box-msg">Message<span>*</span></label>
                    <textarea name="box-msg" id="box-msg" cols="160" rows="10"></textarea>
                </div>

                <div class="btn-send">
                    <input type="submit" value="SEND">
                </div>
            </form>
        </div>
    </div>

    <footer class="app__footer">
        <div class="container">
            <div class="row" style="padding-top: 20px;">
                <div class="col l-2-4 m-2-4 c-4">
                    <a href="#" class="app__nav-name-link">
                        <img src="../assets/img/logo.png" alt="Logo" class="app__nav-name-icon">
                    </a>
                </div>
                <div class="col l-2-4 m-2-4 c-4">
                    <ul class="app__footer-list">
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">About us</a>
                        </li>
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">Newsletter</a>
                        </li>
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">Careers</a>
                        </li>
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-2-4 m-2-4 c-4">
                    <ul class="app__footer-list">
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">Community</a>
                        </li>
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">Trivia Community</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-2-4 m-2-4 c-4 mobile-offset-4">
                    <ul class="app__footer-list">
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">Support</a>
                        </li>
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">Help Centre</a>
                        </li>
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">Safety Information</a>
                        </li>
                    </ul>
                </div>
                <div class="col l-2-4 m-2-4 c-4">
                    <ul class="app__footer-list">
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">Hedge Karla</a>
                        </li>
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">Mullein abc</a>
                        </li>
                        <li class="app__footer-list-item">
                            <a href="#" class="app__footer-list-item-link">Autumnal Bulgier</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="app__footer-socials">
                <ul class="app__footer-socials-list">
                    <li class="app__footer-socials-item">
                        <a href="#" class="app__footer-socials-item-link">
                            <i class="app__footer-socials-item-icon fa-brands fa-square-instagram"></i>
                        </a>
                    </li>
                    <li class="app__footer-socials-item">
                        <a href="#" class="app__footer-socials-item-link">
                            <i class="app__footer-socials-item-icon fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="app__footer-socials-item">
                        <a href="#" class="app__footer-socials-item-link">
                            <i class="app__footer-socials-item-icon fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li class="app__footer-socials-item">
                        <a href="#" class="app__footer-socials-item-link">
                            <i class="app__footer-socials-item-icon fa-brands fa-square-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="app__footer-copyright">
                Copyright &copy; 2022 Alien
            </div>
        </div>
    </footer>
</body>
</html>
