@{
    ViewBag.Title = "Detail Review";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    int reviewID = Convert.ToInt32(Session["reviewID"]);
}

<script>
        $(document).ready(function () {
            $('.app__sidebar-list .app__sidebar-item:nth-child(4)').addClass('app__sidebar-item--active');
            $.ajax({
                type: "POST",
                url: "/CUSTOMER/GetDetailReview",
                data: {
                    values: [@reviewID]
                },
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    let html = `
                                <div class="d-flex flex-column">
                                    <img src="${data.image}" alt="@reviewID"
                                         style="width: 250px;height: 250px;border-radius: 12px;">
                                    <div class="pt-4" style="line-height: 2;">
                                        <h4>${data.propertyName}</h4>
                                        <p>Check-in: ${data.checkIn}</p>
                                        <p>Check-out: ${data.checkOut}</p>
                                        <p>Time review: ${data.timeComment}</p>
                                        <p>Your rating: ${data.point}</p>
                                        <p>Your review: ${data.comment}</p>
                                    </div>
                                </div>
                                `;

                    $('.content').append(html);
                },
                error: function () {
                    alert("Delete failed!!!");
                }
            });
        })
</script>