
@{
    Layout = null;
    var account = Session["Account"] as IS220.N12.Models.ACCOUNT;
    string[] detailBooking = (string[])Session["DetailBooking"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Assets/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/custom/base.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Detail Booking</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        h4, h5, p {
            margin-bottom: 0;
        }

        .app__header {
            background-color: #08536B;
        }

        .btn {
            color: white;
            border-radius: 16px;
        }

        .btn-review {
            background-color: #08536BBF;
        }

            .btn-review:hover {
                color: white;
                background-color: rgba(8, 83, 107, 0.9);
            }

        /* Review */
        .img_hotel {
            width: 150px;
            height: 150px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        .border {
            border-radius: 20px;
        }

        p {
            font-size: 14px;
        }

        label {
            font-size: 20px;
            font-weight: 600;
        }

        textarea {
            width: 800px;
            border-radius: 20px;
            border-color: #dee2e6;
            padding: 8px 16px;
            margin-top: 8px;
        }

        input {
            width: 120px;
            padding: 0 4px;
            margin-left: 8px;
        }

        .rate-message {
            display: none;
        }
    </style>
</head>
<body>
    <header class="app__header">
        <nav class="app__nav container">
            <a href="~/Homepage/Index" class="app__nav-name-link">
                <img src="../assets/img/logo.png" alt="Logo" class="app__nav-name-icon">
            </a>

            <ul class="app__nav-list hide-on-mobile-tablet">
                <li class="app__nav-item">
                    <a href="~/Homepage/Index" class="app__nav-item-link">Home</a>
                </li>
                <li class="app__nav-item">
                    <a href="~/Homepage/Contact" class="app__nav-item-link">Contacts</a>
                </li>
                <li class="app__nav-item">
                    <a href="YourAccount" class="app__nav-item-link">@account.Username</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container" style="height: 250px;"></div>

    <script>
        const propertyName = '@detailBooking[0]';
        const roomName = '@detailBooking[1]';
        var reservationID;

        $.ajax({
                type: "POST",
                url: "/CUSTOMER/GetDetailBooking",
                data: {
                    values: [propertyName, roomName]
                },
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                reservationID = data.reservationID;
                    let html = `<h2 class="mt-5">Manage Your Booking</h2>`;

                    html += `
                            <div class="mt-4 d-flex w-100">
                                <img src="${data.imageRoom}" alt="Room image" style="width: 250px;height: 250px;">

                                <div class="ms-5 d-flex flex-column justify-content-between" style="flex: 1;">
                                    <h4>${data.propertyName}</h4>
                                    <p><b>Reservation number:</b> ${data.reservationID}</p>
                                    <p><b>Phone numbers:</b> ${data.phone}</p>
                                    <p><b>Address:</b> ${data.address}</p>
                                    <p><b>Rating Score: </b>${data.average}</p>`;

                    if (data.status == 'Booked') {
                        html += `
                                    <p><b>${data.checkInDate} - ${data.checkOutDate}</b></p>
                                    <p><b>Check-in time:</b> ${data.checkInTime} - <b>Check-out time:</b> ${data.checkOutTime}</p>
                                    <p class="status"><b>Status:</b> ${data.status}</p>
                                </div>
                            </div>

                            <div class="mt-4" style="margin-left: 298px;">
                                <button type="button" class="btn btn-danger">Cancel Your Booking</button>
                            </div>`;
                    } else {
                        html += `
                                    <p><b>Check-in:</b> ${data.checkInDate}</p>
                                    <p><b>Check-out:</b> ${data.checkOutDate}</p>
                                    <p><b>Status:</b> ${data.status}</p>
                                </div>
                            </div>`;

                        if (data.status == "Checked out") {
                            html += `
                            <div class="mt-4" style="margin-left: 298px;">
                                <button type="button" class="btn btn-review">Write your review</button>
                            </div>`;
                        } else {
                            html += `
                            <div class="mt-4" style="margin-left: 298px;">
                                <button type="button" class="btn btn-info">Go to View All Booking</button>
                            </div>`;
                        }
                    }

                    $('.container').append(html);
                },
                error: function () {
                    alert("Error occured!!!");
                }
        });

        $('.container').on('click', '.btn.btn-danger', function () {
            $.ajax({
                type: "POST",
                url: "/CUSTOMER/UpdateStatusReservation",
                data: {
                    values: [reservationID]
                },
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    if (data.status) {
                        $('.status').html('<b>Status:</b> Canceled');
                    }
                },
                error: function () {
                    alert("Error occured!!!");
                }
            });
            $(this).replaceWith($('<button type="button" class="btn btn-info">Go to View All Booking</button>'));
        });

        $('.container').on('click', '.btn.btn-review', function () {
            $.ajax({
                type: "POST",
                url: "/CUSTOMER/RedirectReviewPage",
                data: {
                    values: [reservationID]
                },
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    if (data.msg) {
                        window.location.replace("https://localhost:44306/CUSTOMER/Review_Property");
                    }
                },
                error: function () {
                    alert("Error occured!!!");
                }
            });
        });

        $('.container').on('click', '.btn.btn-info', function () {
            window.location.replace("https://localhost:44306/CUSTOMER/ViewAllBooking");
        });
    </script>
</body>
</html>