
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/font-awesome/css/all.min.css" />
    <title>Error</title>
</head>
<body class="position-relative text-center" style="height: 100vh;">
    <div class="position-absolute top-50 start-50 translate-middle">
        <i class="fa-solid fa-circle-xmark"
           style="font-size: 60px;
            color: hsl(4deg 90% 58%);">
        </i>
        <p class="mt-3 mb-0" style="font-size: 20px;">There is an error with your booking</p>
        <a href="Reservation" class="text-decoration-none text-dark" style="font-size: 20px;"><b>Please try again</b></a>
    </div>
</body>
</html>
