@{ 
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $('.app__sidebar-list .app__sidebar-item:nth-child(4)').addClass('app__sidebar-item--active');

        $.ajax({
            type: "GET",
            url: "/CUSTOMER/GetListReview",
            data: {},
            success: function (data) {
                let html = "";
                for (let i = 0; i < data.imageProperty.length; i++) {
                    html += `
                                 <div class="d-flex justify-content-between border mb-3" style="color: #303030;border-radius: 12px;box-shadow: 0 0 2px 2px rgb(0 0 0 / 4%);cursor: pointer;">
                                     <img src="${data.imageProperty[i]}" alt="${data.evaluateID[i]}" style="width: 180px;height: 180px; border-radius: 12px;">

                                     <div class="py-3 px-4 d-flex flex-column justify-content-between" style="flex: 1;">
                                         <h4>${data.propertyName[i]}</h4>
                                         <p>Time review: ${data.timeComment[i]}</p>
                                         <p>Your rating: ${data.point[i]}</p>
                                         <p style="max-width: 720px;
                                                 max-height: 24px;
                                                 overflow: hidden;
                                                 text-overflow: ellipsis;
                                                 white-space: nowrap;
                                                 -webkit-line-clamp: 1;">
                                             Your review: ${data.comment[i]}
                                         </p>
                                     </div>
                                 </div>
                                `;
                }

                $('.content').append(html);

                function seeDetailReview() {
                    $('.content > div').each(function () {
                        $(this).click(function () {
                            let id = $(this).find('img').attr('alt');

                            $.ajax({
                                type: "POST",
                                url: "/CUSTOMER/SeeDetailReview",
                                data: {
                                    values: [id]
                                },
                                datatype: "json",
                                contentType: 'application/x-www-form-urlencoded',
                                success: function (data) {
                                    if (data.msg) {
                                        window.location.replace("https://localhost:44306/CUSTOMER/Detail_Review");
                                    }
                                },
                                error: function () {
                                    alert("Delete failed!!!");
                                }
                            });
                        })
                    })
                };

                seeDetailReview();
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    })
</script>
