@{
    ViewBag.Title = "View All Booking";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2 class="app__view-message">Your bookings</h2>
<div class="no-booking">
    <span class="app__view-message">You have no bookings yet.</span>
    <a href="/Homepage/Index" class="app__view-link">Start exploring</a>
</div>
<div class="app__view-list upcoming"></div>
<div class="app__view-list app__view-list-status"></div>

<style>
    .app__view-list + .app__view-list {
        margin-top: 4px;
    }
</style>

<script>
    $(document).ready(function () {
        $('.app__sidebar-list .app__sidebar-item:nth-child(2)').addClass('app__sidebar-item--active');

        $.ajax({
            type: "GET",
            url: "/CUSTOMER/GetUpComingBooking",
            data: {},
            datatype: "json",
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                if (data.imageRoom.length > 0) {
                    $('.no-booking').hide();
                    let html = `<h3 class="app__view-title">Upcoming</h3>`;
                    html += `<div>`;

                    for (let i = 0; i < data.imageRoom.length; i++) {
                        html += `
                                <div class="app__view-item" style="cursor: pointer;">
                                    <img src="${data.imageRoom[i]}" alt="Type Room" class="app__view-img">
                                    <div class="d-flex flex-column my-2 mx-0 text-dark" style="flex: 1;">
                                        <h4>${data.propertyName[i]}</h4>
                                        <p>${data.roomName[i]}</p>
                                        <span>${data.typeRoom[i]}</span>
                                        <p>Check-in: ${data.checkInTime[i]} ${data.checkInDate[i]}</p>
                                    </div>
                                    <h3 class="app__view-item-price">${data.total[i]} VND</h3>
                                </div>
                                `;
                    }

                    html += `</div>`
                    $('.upcoming').append(html);
                }
            },
            error: function () {
                alert("Error occured!!");
            }
        });

        $.ajax({
            type: "GET",
            url: "/CUSTOMER/GetPastBooking",
            data: {},
            datatype: "json",
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                if (data.imageRoom.length > 0) {
                    $('.no-booking').hide();
                    let html = `<h3 class="app__view-title">In the past</h3>`;
                    html += `<div>`;

                    for (let i = 0; i < data.imageRoom.length; i++) {
                        html += `
                                <div class="app__view-item" style="cursor: pointer;">
                                    <img src="${data.imageRoom[i]}" alt="Type Room" class="app__view-img">
                                    <div class="d-flex flex-column my-2 mx-0 text-dark" style="flex: 1;">
                                        <div style="flex: 1;">
                                            <h4>${data.propertyName[i]} </h4>
                                            <p>${data.roomName[i]}</p>
                                            <span>${data.typeRoom[i]}</span>
                                        </div>
                                        <span class="app__view-item-status">${data.status[i]}</span>
                                    </div>
                                    <h3 class="app__view-item-price">${data.total[i]} VND</h3>
                                </div>
                                `;
                    }

                    html += `</div>`
                    $('.app__view-list-status').append(html);
                }
            },
            error: function () {
                alert("Error occured!!");
            }
        });

        $('.upcoming').on('click', '.app__view-item', function () {
            let propertyName = $(this).find('h4')[0].innerHTML.trim();
            let roomName = $(this).find('p')[0].innerHTML.trim();

            $.ajax({
                type: "POST",
                url: "/CUSTOMER/SeeDetailBooking",
                data: {
                    values: [propertyName, roomName]
                },
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    if (data) {
                        window.location.replace("https://localhost:44306/CUSTOMER/Detail_Booking");
                    }
                },
                error: function () {
                    alert("Error occured!!!");
                }
            });
        })

        $('.app__view-list-status').on('click', '.app__view-item', function () {
            let propertyName = $(this).find('h4')[0].innerHTML.trim();
            let roomName = $(this).find('p')[0].innerHTML.trim();

            $.ajax({
                type: "POST",
                url: "/CUSTOMER/SeeDetailBooking",
                data: {
                    values: [propertyName, roomName]
                },
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded',
                success: function (data) {
                    if (data) {
                        window.location.replace("https://localhost:44306/CUSTOMER/Detail_Booking");
                    }
                },
                error: function () {
                    alert("Error occured!!!");
                }
            });
        })
    })
</script>